@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000000;
}

#menu {
    background-image: url('images.jpg');
    background-position: top;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 300%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

#título {
    text-align: center;
}

button {
    background-color: #c09329;
    color: white;
    padding: 12px 28px;
    margin-left: 20px;
    text-align: center;
    border-radius: 12px;
    font-size: 26px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

h1 {
    font-size: 42px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}